<h1>Library</h1>
/app/assets/images/rhino.jpg
<%# image_tag '/assets/rhino.jpg' %>

<p> TODO: Add a serach form that allows us to search for a book by title or author</p>
<!--form method="GET" actions="<%= books_path %>">
  <input type="text" name="query" placeholder="Search by title or author"/>
</form-->
<%= form_tag books_path, method: "GET" do %>
  <%= text_field_tag :query, nil, placeholder: "Search by title or author" %>
<% end %>
<div>
  <ul>
  <% @books.each do |book| %>
    <li>
      <strong><%= book.title %></strong>
      <br>
      <small>by <%= book.author %></small>
    </li>
  <% end %>
  </ul>
</div>
