<!DOCTYPE html>
<html>
<head>
  <title>FlashAndForms</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <p>
      <% if flash[:notice] %>
        <div style="color: green"><%= flash[:notice].html_safe %></div>
      <% end %>
      <% if flash[:error] %>
        <div style="color: red"><%= flash[:error] %></div>
      <% end %>
    </p>

  <%= yield %>
  </div>

</body>
</html>
